html {
    background-color: #cccccc;
}
#shop-items-table {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

button, .button {
    padding: 4px 10px;
    background-color: #3d3b3b;
    color: #cccccc;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
}
button:hover {
    background-color: #141313;
}
button:disabled {
    background-color: #5f5e5e;
    pointer-events: none;
}
td, th {
    border: 1px solid #000;
    padding: 4px 10px;
    font-family: sans-serif;
    font-size: 14px;
}

.modal {
    width: 450px;
    background-color: #ffffff;
    border: 2px solid #000;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 35px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal .modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.modal.active {
    display: block;
}

.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    font-size: 18px;
    padding: 6px 10px;
    color: #3d3b3b;
    border: 1px solid #3d3b3b;
}